@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
body {
  font-family: 'Inter', sans-serif;
  background-color: #06182C;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #283645;
}

::-webkit-scrollbar-thumb {
  background: #0052FF;
}

a {
  text-decoration: none;
}

.title_box {
  margin-bottom: 2rem;
  padding-top: 3rem;
}

.title_box h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5rem;
}

.title_box h3 {
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.2rem;
  background: linear-gradient(108.18deg, #EA4C89 -12.02%, #4D44C6 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 1rem;
}

.title_box h3::before {
  content: "";
  position: absolute;
  background: linear-gradient(108.18deg, #EA4C89 -12.02%, #4D44C6 60%);
  top: 0;
  left: 0;
  width: 5px;
  height: 20px;
}

.btn {
  color: #fff;
  padding: 1rem 1.8rem;
  border-radius: 0;
  text-transform: uppercase;
}

.btn.btn_color_blue {
  border: 1px solid #0052FF;
  background-color: #0052FF;
}

.btn.btn_color {
  background-color: #334871;
  border: 1px solid #283645;
}

.navbar {
  background-color: #283645;
  padding: 1.5rem 0;
}

.navbar.active {
  background-color: #051E42;
}

.navbar .navbar-toggler {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  border: 0;
}

.navbar .navbar-toggler .fa-bars {
  color: #fff;
  font-size: 1.5rem;
}

.navbar .navbar-toggler .fa-bars:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.navbar .navbar-nav .nav-link {
  text-transform: uppercase;
  padding: .9rem 0;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-nav .nav-link:hover {
  color: #0052FF;
}

.navbar .offcanvas {
  background-color: #283645;
}

.navbar .offcanvas .offcanvas-header h5 {
  color: #fff;
}

.navbar .offcanvas .offcanvas-body .main_register_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0;
}

.navbar .offcanvas .offcanvas-body .main_register_nav span {
  color: #fff;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
}

.navbar .offcanvas .offcanvas-body .main_register_nav span:first-child {
  border: 1px solid #CCB;
}

.navbar .offcanvas .offcanvas-body .main_register_nav span:first-child:hover {
  background-color: #fff;
  color: #000000;
}

.navbar .offcanvas .offcanvas-body .main_register_nav span:last-child {
  background-color: #0052FF;
  border: 1px solid #0052FF;
}

.navbar .offcanvas .offcanvas-body .main_register_nav span:last-child:hover {
  background-color: #0147d5;
  border: 1px solid #0147d5;
}

.home {
  height: 100vh;
  position: relative;
}

.home .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.home .box_home {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3rem;
}

.home .box_home .title {
  color: #fff;
}

.home .box_home .title h1 {
  font-size: 3.6rem;
  font-weight: bolder;
  text-transform: uppercase;
}

.home .box_home .title h2 {
  font-size: 1.5rem;
  margin: 1rem 0 2rem;
}

.home .box_home .title h3 {
  font-size: 1.8rem;
  margin: 2rem 0;
}

.home .box_home .title h3 span {
  color: #0052FF;
}

.home .box_home .btn.btn_color_blue:hover {
  color: #fff;
  background-color: #0147d5;
}

.home .box_home .btn.btn_color:hover {
  background-color: #fff;
  color: #0052FF;
  border: 1px solid #CCB;
}

.home .box_home .home_img_sm {
  position: absolute;
  top: 25%;
  right: 10%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  -webkit-animation: rotate360 5s linear infinite;
          animation: rotate360 5s linear infinite;
}

.about .title_about {
  color: #fff;
  margin: 1rem 0 2rem;
}

.about .btn.btn_color {
  padding: 1rem 2rem;
  background-color: #0C2E4E;
}

.about .btn.btn_color:hover {
  background-color: #0052FF;
  color: #fff;
}

.gaming .box_play {
  background-color: #283645;
  padding: 3rem 2rem;
  color: #fff;
}

.gaming .box_play h3 {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.8rem;
}

.gaming .box_play h4 {
  display: inline-block;
  padding: .7rem;
  margin-bottom: 1rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 82, 255, 0.3)), color-stop(95.61%, transparent));
  background: linear-gradient(90deg, rgba(0, 82, 255, 0.3) 0%, transparent 95.61%);
}

.swiper_img .box_swiper {
  background-color: #051E42;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper_img .box_swiper a {
  border: 1px solid #051E42;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
}

.counter .counter_box {
  color: #fff;
}

.counter .counter_box h2 {
  font-size: 3.5rem;
  font-weight: bolder;
}

.counter .counter_box p {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 400;
  color: #fff;
}

.minting_Techniques .box_minting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0052FF;
  padding: 3rem 2.5rem;
  text-align: center;
}

.minting_Techniques .box_minting .minting_info {
  color: #fff;
}

.minting_Techniques .box_minting .minting_info h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  font-weight: bolder;
  width: 50px;
  height: 50px;
  border: 4px dashed #fff;
  margin: auto;
  padding: .2rem 1rem;
}

.minting_Techniques .box_minting .minting_info h3 {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.9rem;
  margin-top: 1.5rem;
}

.team .box_team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #283645;
  padding: 1.5rem 1.3rem;
}

.team .box_team img {
  width: 100%;
  height: 175px;
}

.team .box_team .team_info {
  color: #fff;
  text-align: center;
  display: -ms-grid;
  display: grid;
  gap: 0.2rem;
  padding-top: 1.5rem;
}

.team .box_team .team_info h5, .team .box_team .team_info h6 {
  text-transform: capitalize;
}

.team .box_team .team_info h5 {
  font-size: 1.5rem;
  font-weight: 500;
}

.team .box_team .team_info h6 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.team .box_team .team_info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team .box_team .team_info ul a {
  color: #fff;
  margin: 0 .6rem;
  font-size: 1.3rem;
}

.team .box_team .team_info ul a:hover {
  color: #0052FF;
}

.roadmap .roadmap_box h2 {
  width: 65px;
  height: 65px;
  font-weight: bolder;
  background-color: #0052FF;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  position: relative;
}

.roadmap .roadmap_box h2 span {
  position: absolute;
  top: 4px;
  right: 0;
  font-size: .8rem;
  background-color: #fff;
  color: #000000;
  width: 20px;
  height: 20px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  border-radius: 50px;
  line-height: 2px;
}

.roadmap .roadmap_box .roadmap_info {
  margin-top: 2rem;
  background-color: #283645;
  padding: 2rem .9rem;
  color: #fff;
}

.roadmap .roadmap_box .roadmap_info h3 {
  display: inline-block;
  background: linear-gradient(108.18deg, #EA4C89 -12.02%, #4D44C6 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.roadmap .roadmap_box .roadmap_info h4 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.roadmap .roadmap_box .roadmap_info p {
  font-size: 1.1rem;
}

.faq .accordion .accordion-item {
  background-color: #283645;
  color: #fff;
  border: 0;
  margin: 1rem 0;
}

.faq .accordion .accordion-item .accordion-header .accordion-button {
  background-color: #283645;
  color: #fff;
  font-weight: bold;
  padding: 1.5rem;
  font-size: 1.5rem;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

.faq .accordion .accordion-item .accordion-header .accordion-button:hover {
  background-color: #0052FF;
}

.faq .accordion .accordion-item .accordion-header .accordion-button::after {
  background-image: url("../image/plus.png");
}

.faq .accordion .accordion-item .accordion-body {
  color: #fff;
  padding: 2rem 3rem;
  font-size: 1.2rem;
}

.blog .blog_box {
  position: relative;
}

.blog .blog_box:hover .blog_img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blog .blog_box .blog_img {
  overflow: hidden;
}

.blog .blog_box .blog_img img {
  width: 100%;
}

.blog .blog_box .blog_info {
  color: #fff;
  padding: 1.2rem 0;
}

.blog .blog_box .blog_info a {
  color: #fff;
}

.blog .blog_box .blog_info a:hover {
  color: #0052FF;
}

.blog .blog_box .blog_info a h3 {
  font-size: 1.5rem;
  font-weight: bolder;
}

.blog .blog_box .blog_info p {
  font-size: 1.1rem;
}

.access .access_bg {
  background-color: #0052FF;
  background: linear-gradient(108.18deg, rgba(234, 76, 137, 0.2) -2.02%, rgba(77, 68, 198, 0.2) 100%);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  text-align: center;
  color: #fff;
  padding: 4rem 9rem;
}

.access .access_bg h2 {
  font-size: 3.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

.access .access_bg div {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0 5rem;
  margin-bottom: 2rem;
}

.access .access_bg .access_icons a {
  color: #fff;
}

.access .access_bg .access_icons a span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 400;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  padding: 1rem 2rem;
  margin-left: 1rem;
  border: 1px solid #fff;
}

.access .access_bg .access_icons a span i {
  margin: 0 .3rem;
}

.access .access_bg .access_icons a span:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.access .access_bg .access_icons a span.bg {
  background-color: #fff;
  color: #000000;
}

.access .access_bg .access_icons a span.bg:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

footer .footer_all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer_all .footer_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer_all ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer_all .footer_link_icons {
  padding: 2rem 0;
}

footer .footer_all .footer_link_icons a {
  margin: 0 .8rem;
  background-color: #283645;
  color: #fff;
  padding: .6rem .9rem;
  cursor: pointer;
  font-size: 1.3rem;
}

footer .footer_all .footer_link_icons a:hover {
  background-color: #0052FF;
  color: #fff;
}

footer .footer_all .footer_links a {
  margin: 0 1.5rem;
  text-transform: uppercase;
  color: #fff;
}

footer .footer_all .footer_links a:hover {
  color: #0052FF;
}

footer .footer_all .text_p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3rem;
  color: #fff;
}

@-webkit-keyframes rotate360 {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes rotate360 {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@media (max-width: 991px) {
  .btn {
    padding: 1rem 1.1rem;
  }
  .home .box_home {
    display: -ms-inline-grid;
    display: inline-grid;
    padding: 8rem 0;
  }
  .home .box_home .title h1 {
    font-size: 2rem;
  }
  .home .box_home .title h2 {
    font-size: 1.2rem;
  }
  .home .box_home .title h3 {
    font-size: 1.4rem;
  }
  .home .box_home .home_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .home .box_home .home_img .hero {
    width: 30%;
  }
  .home .box_home .home_img_sm {
    top: 60%;
    right: 30%;
  }
  .about .title_about p {
    font-size: .9rem;
  }
  .about .btn.btn_color {
    padding: 1rem 1.6rem;
  }
  .counter .counter_box h2 {
    font-size: 2.8rem;
  }
  .counter .counter_box p {
    font-size: 1.2rem;
  }
  .roadmap .roadmap_box .roadmap_info h3 {
    font-size: 1.6rem;
  }
  .roadmap .roadmap_box .roadmap_info h4 {
    font-size: 1.6rem;
  }
  .roadmap .roadmap_box .roadmap_info p {
    font-size: 1rem;
  }
  .blog .blog_box .blog_info p {
    font-size: .9rem;
  }
  .access .access_bg {
    padding: 4rem 0;
  }
  .access .access_bg h2 {
    font-size: 2.4rem;
  }
  .access .access_bg div {
    padding: 0 2rem;
    font-size: 1rem;
  }
  .access .access_bg .access_icons a span {
    font-size: .9rem;
  }
}

@media (max-width: 768px) {
  .btn {
    padding: 1rem 1.1rem;
  }
  .home .box_home .title h1 {
    font-size: 1.2rem;
  }
  .home .box_home .title h2 {
    font-size: 1rem;
  }
  .home .box_home .title h3 {
    font-size: 1.2rem;
  }
  .home .box_home .home_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home .box_home .home_img .hero {
    width: 40%;
  }
  .home .box_home .home_img_sm {
    display: none;
  }
  .title_box h2 {
    font-size: 2.2rem;
  }
  .title_box h3 {
    font-size: 1rem;
    padding-left: 1rem;
  }
  .about .title_about p {
    font-size: .9rem;
  }
  .faq .accordion .accordion-item .accordion-header .accordion-button {
    font-size: 1.2rem;
  }
  .faq .accordion .accordion-item .accordion-body {
    font-size: .9rem;
    padding: 1rem;
  }
  .access .access_bg {
    padding: 4rem 0;
  }
  .access .access_bg h2 {
    font-size: 1.8rem;
  }
  .access .access_bg div {
    padding: 0 2rem;
    font-size: .9rem;
  }
  .access .access_bg .access_icons a span {
    font-size: .9rem;
    margin-bottom: 1rem;
  }
  .access .access_bg .access_icons a span.bg {
    padding: 1rem 3rem;
  }
  footer .footer_all .footer_links a {
    margin: 0 1rem;
  }
}

@media (max-width: 590px) {
  .about .title_about p {
    font-size: .8rem;
  }
  .title_box h2 {
    font-size: 2rem;
  }
  .roadmap .roadmap_box .roadmap_info h3, .roadmap .roadmap_box .roadmap_info h4 {
    font-size: 1.4rem;
  }
  .roadmap .roadmap_box .roadmap_info p {
    font-size: .9rem;
  }
  .gaming .box_play {
    padding: 3rem 2rem;
  }
  .gaming .box_play h3 {
    font-size: 1.4rem;
  }
  .gaming .box_play p {
    font-size: .8rem;
  }
  .access .access_bg {
    padding: 4rem 0;
  }
  .access .access_bg h2 {
    font-size: 1.6rem;
  }
  .access .access_bg div {
    padding: 0 1.5rem;
    font-size: .8rem;
  }
  .minting_Techniques .box_minting .minting_info h3 {
    font-size: 1.6rem;
  }
  .team .box_team .team_info h5 {
    font-size: 1.3rem;
  }
  .team .box_team .team_info h6 {
    font-size: .9rem;
  }
  .team .box_team .team_info ul a {
    font-size: 1.1rem;
  }
  .roadmap .roadmap_box h2 {
    width: 50px;
    height: 50px;
    font-size: 1.6rem;
  }
  .roadmap .roadmap_box h2 span {
    top: 3px;
    right: -4px;
    font-size: .6rem;
    width: 15px;
    height: 15px;
  }
  .roadmap .roadmap_box .roadmap_info h4 {
    font-size: 1.4rem;
  }
  .roadmap .roadmap_box .roadmap_info p {
    font-size: .8rem;
  }
  footer .footer_all .footer_links a {
    margin: 0 .8rem;
  }
}

@media (max-width: 450px) {
  .home .box_home .title h1 {
    font-size: 1.1rem;
  }
  .home .box_home .title h2 {
    font-size: .8rem;
  }
  .home .box_home .title h3 {
    font-size: 1rem;
  }
  .home .box_home .home_img .hero {
    width: 50%;
  }
  .title_box h2 {
    font-size: 1.6rem;
  }
  .title_box h3 {
    font-size: .9rem;
  }
  .minting_Techniques .box_minting .minting_info h3 {
    font-size: 1.3rem;
  }
  .faq .accordion .accordion-item .accordion-header .accordion-button {
    font-size: .8rem;
  }
  .blog .blog_box .blog_info a h3 {
    font-size: 1.2rem;
    font-weight: bolder;
  }
  .blog .blog_box .blog_info p {
    font-size: .8rem;
  }
  .access .access_bg {
    padding: 4rem 0;
  }
  .access .access_bg h2 {
    font-size: 1.2rem;
  }
  .access .access_bg div {
    padding: 0 1rem;
    font-size: .8rem;
  }
  footer .footer_all .footer_link_icons {
    padding: 2rem 0;
  }
  footer .footer_all .footer_link_icons a {
    margin: 0 .8rem;
    padding: .4rem .8rem;
    font-size: 1.3rem;
  }
  footer .footer_all .footer_links a {
    margin: 0 .5rem;
  }
  footer .footer_all .text_p {
    font-size: .8rem;
    padding: 1rem 0;
  }
}

@media (max-width: 400px) {
  .title_box h2 {
    font-size: 1.4rem;
  }
  .btn {
    padding: .9rem .8rem;
  }
  .about .title_about p {
    font-size: .7rem;
  }
  .about .btn.btn_color {
    padding: .9rem 1rem;
  }
  .access .access_bg {
    padding: 4rem 0;
  }
  .access .access_bg h2 {
    font-size: 1rem;
  }
  .access .access_bg div {
    padding: 0 1rem;
    font-size: .7rem;
  }
  footer .footer_all .footer_link_icons a {
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
  }
  footer .footer_all .footer_links a {
    margin: 0 .3rem;
  }
  footer .footer_all .text_p {
    font-size: .8rem;
  }
}
/*# sourceMappingURL=style.css.map */